.message {
  max-width: 480px;
  padding: 24px 48px;
  border-radius: 12px;
  background-color: rgb(21 21 21 / 75%);
  color: #ededed;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}
